/*scheme*/
    .scheme{
        .scheme-wrap{}
        .scheme-align{}
        .title{text-align: center;
            h2{text-transform: uppercase; font:700 72px/72px 'BebasNeueBold'; color:#4f4f4f; }
        }
        .subtitle{border-top: 1px solid #30dcdc; border-bottom: 1px solid #30dcdc; width: 100%; text-align: center;
            p{font:400 24px/24px 'ProximaNova'; color: #4f4f4f;}
            b{font:900 24px/24px 'ProximaNova';color:#1cb3b3;}
        }
        .content{}
        .content-wrap{}
        .item{
            .item-align{text-align: center; width: 200px;}
            .round{width: 200px; height:200px; border-radius: 50%; border:1px solid #e8af7e;
                .txt{position: relative;
                    p{font:400 14px/14px 'ProximaNova'; color: #4f4f4f;}
                    &:after{content: ''; display:block;  width:35px; height: 2px; background-color: #e8af7e; left:50%; transform:translateX(-50%); position: absolute;}
                }
                .img{}
            }
            .number{
                p{font:700 48px/48px 'BebasNeueBold'; color: #b9b9b9;
                    &:after, &:before{content: ''; display:inline-block;  width:20px; height: 1px; background-color: #b9b9b9; vertical-align: middle;}
                }
            }
        }
    }
/*END scheme*/