.convert-cheese-production{ background-image: url(../images/bg-prom.png); background-position: left top; padding-top: 137px; max-height: 1230px; min-height: 1230px; background-repeat: no-repeat;
    .content-prod{ width: 100%; text-align: center;
        .title-text{color: rgb(48, 220, 220); font-family: "ProximaNova"; text-transform: uppercase;font-weight: 300; font-size: 31px; text-shadow: 0px 0px 15px rgba(48, 220, 220, 0.8);line-height: 1; padding-bottom: 38px; position: relative; animation: pulseText 3s linear infinite;
            h2{line-height: 9px;}
            span{font-weight: 900;font-size: 81px; line-height: 1.2; }
            &:after{content: ''; position: absolute; bottom: 0; width: 300px; height: 2px; background-color: #206762; left: calc(50% - 150px); box-shadow: 0px 0px 8px 4px rgba(32,103,98,0.75); }
        }
        .subtitle-text{max-width: 575px; margin: 0 auto; color: white; padding-top: 20px; padding-bottom: 28px;font-size: 18px;font-family: "ProximaNova"; line-height: 1.667;}

        .beautiful-row{padding: 2px 0; border-top: 1px solid #206762; border-bottom: 1px solid #206762;box-shadow: 0px 0px 4px 2px rgba(32,103,98,0.5), inset 0px 0px 4px 2px rgba(32,103,98,0.5);
            .block-inside{border-top: 1px solid #206762; border-bottom: 1px solid #206762;}
        }

        .items-block{ max-width: 1430px; margin: 0 auto; padding-top: 12px; padding-bottom: 4px;
            .item{width: 20%; float: left; padding-top: 20px; padding-bottom: 20px;
                .contfet{min-height: 70px; display: flex; width: 100%;align-items:center;justify-content:center;
                    .cont-for-tab{position: relative;
                        &>div{display:inline-block;}
                        .img-wrap-hover{position: absolute;top:0;left:0;right:0;bottom:0;opacity: 0;animation: pulseImg 2s linear infinite;}
                    }
                }
                .after-text{font-size: 18px;font-family: "ProximaNova"; color: white; max-width: 280px;    line-height: 21px; margin: 0 auto;}
                &:nth-child(2n){
                    .contfet{
                        .cont-for-tab{
                            .img-wrap-hover{animation-delay:.5s;}
                        }
                    }
                }
            }
        }
        .strange-text{position: relative; max-width: 1030px; margin: 0 auto; color: white;line-height: 24px; text-align: center; padding-top: 40px; padding-bottom: 33px; font-weight: 300; margin-bottom: 20px; font-size: 18px; font-family: "ProximaNova";
            span{color: #1cb3b3; font-weight: 800;  }
            &:after{content: ''; position: absolute; bottom: 0; width: 200px; height: 2px; background-color: #206762; left: calc(50% - 100px); box-shadow: 0px 0px 8px 4px rgba(32,103,98,0.75); }
        }
        .concept-slogan{ font-family: 'BebasNeueBold', sans-serif; font-size: 36px; color: #30dcdc; max-width: 780px; margin: 0 auto; padding-bottom: 30px; padding-top: 15px; line-height: 43px;}
    }
}


@keyframes pulseImg {
    0%   {opacity: 0; }
    50%  {opacity: 1;}
    100% {opacity: 0;}
}



@keyframes pulseText {
    0%   {text-shadow: 4px 0px 30px rgba(48, 220, 220, 0.8);}
    25%  {text-shadow: 0px 0px 10px rgba(48, 220, 220, 1);}
    50%  {text-shadow: -4px 0px 30px rgba(48, 220, 220, 0.8);}
    75%  {text-shadow: 0px 0px 10px rgba(48, 220, 220, 1);}
    100% {text-shadow: 4px 0px 30px rgba(48, 220, 220, 0.8);}
}
@-webkit-keyframes pulseText {
    0%   {text-shadow: 4px 0px 30px rgba(48, 220, 220, 0.8);}
    25%  {text-shadow: 0px 0px 10px rgba(48, 220, 220, 1);}
    50%  {text-shadow: -4px 0px 30px rgba(48, 220, 220, 0.8);}
    75%  {text-shadow: 0px 0px 10px rgba(48, 220, 220, 1);}
    100% {text-shadow: 4px 0px 30px rgba(48, 220, 220, 0.8);}
}

#call_success, #call-popup{height: 770px; width: 770px;  display: table; border: 42px solid rgba(21, 135, 135,0.5);border-radius: 50%;  background-color: transparent; position: relative;
    &:after{content: ''; border: 3px solid rgba(253,168,97, 0.5); position: absolute; top: -42px; left: -42px; right: -42px; bottom: -42px; border-radius: 50%;  z-index: -1; animation: pulseCirclePopup 2s linear infinite;}
    .contact-form{border-radius: 50%; border: 5px solid #fda861; width: 100%; height: 100%; display: table-cell; vertical-align: middle; background: url(../images/sahara-bg.jpg) repeat;
        .contact-form-title{text-align: center; max-width: 500px; margin: 0 auto;
            .convert-img, h5{padding-bottom:25px; position: relative;
                &:after{content: ''; position: absolute; bottom: 0; left: calc(50% - 150px); height: 1px; width: 300px; background-color: #ffa55a; }
            }
            h5{padding-top: 20px; font-family: "ProximaNova", sans-serif; font-size: 24px; font-weight: 400; line-height: 32px;}
        }
        .contact-form-row{ max-width: 300px; margin: 0 auto; padding-top: 10px;
            .contact-form-item{ padding-bottom: 10px;
                textarea, input{width: 100%; height: 50px; font-family: "ProximaNova", sans-serif; font-weight:300; font-size: 18px; line-height: 30px; background-color: transparent; outline: none;  padding-left: 20px; border: 1px solid #bababa; transition: all 0.5s; color:#4f4f4f;
                    &:focus{border: 1px solid #fda861;}
                    &.error{border: 1px solid red;}
                }
                textarea{resize: none;  height: 98px; text-indent: 20px;padding-left: 0px; line-height: 20px;}
                label{display: none !important;}

                ::-webkit-input-placeholder {color: #4f4f4f;}
                ::-moz-placeholder          {color: #4f4f4f;}
                :-moz-placeholder           {color: #4f4f4f;}
                :-ms-input-placeholder      {color: #4f4f4f;}
            }
            .contact-submit{width: 100%; outline: none; text-transform: uppercase;font-family: "ProximaNova", sans-serif; font-weight:400; font-size: 18px; color: #4f4f4f; background-color: transparent; line-height: 56px; border:2px solid #fda861; cursor: pointer; border-radius: 28px; transition: all 0.5s;
                &:hover{background-color:#fda861; color: white;}
            }
        }
    }
}
.fancybox-form{border-radius: 50%;
    .fancybox-skin{ box-shadow: none; background: transparent;}
    .fancybox-close{top: 100px;border: 10px solid rgba(21, 135, 135,0.5); width: 75px; height: 75px; border-radius: 50%;  background-image: none; transition: all 0.5s;box-shadow: inset 0px 0px 300px 200px rgba(255,255,255,1);
        &:after{content: ''; position: absolute; width: 33px; height: 1px; transform: rotate(45deg); background-color: black; left: 12px; top: 27px;}
        &:before{content: ''; position: absolute; width: 33px; height: 1px; transform: rotate(135deg); background-color: black; left: 12px; top: 27px; }
        &:hover{border: 10px solid #fda861;}
    }
}

@keyframes pulseCirclePopup {
    0%  {border: 4px solid rgba(253,168,97, 1); position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;}
    100%   {border: 1px solid rgba(21, 135, 135, 0.5); position: absolute; top: -42px; left: -42px; right: -42px; bottom: -42px;}

}
@-webkit-keyframes pulseCirclePopup {
    0%   {text-shadow: 4px 0px 30px rgba(48, 220, 220, 0.8);}
    25%  {text-shadow: 0px 0px 10px rgba(48, 220, 220, 1);}
    50%  {text-shadow: -4px 0px 30px rgba(48, 220, 220, 0.8);}
    75%  {text-shadow: 0px 0px 10px rgba(48, 220, 220, 1);}
    100% {text-shadow: 4px 0px 30px rgba(48, 220, 220, 0.8);}
}


