<section class="cheese-production ">
    <div class="convert-cheese-production">
        <div class="content-prod ">
            <div class="title-text scroll-anim">
                <h2><span>Cheese</span><br/>Studio Production</h2>
            </div>
            <div class="subtitle-text scroll-anim">
                <p>Это профессиональная, творческая команда с многолетним опытом, которая  понимает маркетинговую ценность видеороликов. Грамотно снятое и  срежиссированное видео превращается в отличный инструмент для привлечения новых клиентов. Мы подробно изучаем вашу сферу деятельности, что бы понять, как донести информацию к зрителю максимально эффективно. Творческий подход к каждой детали и к каждому отснятому кадру делают наши видеоролики по-настоящему уникальными. Мы не просто разрабатываем качественный маркетинговый инструмент, мы создаем произведение искусства.</p>
            </div>
            <div class="beautiful-row scroll-anim"></div>

            <div class="items-block cfix">
                <div class="item scroll-anim">
                    <div class="contfet">
                        <div class="cont-for-tab">
                            <div class="convert-img1"></div>
                        </div>
                    </div>
                    <div class="after-text">Понимание тонкостей  маркетинга</div>
                </div>
                <div class="item scroll-anim">
                    <div class="contfet">
                        <div class="cont-for-tab">
                            <div class="convert-img2"></div>
                        </div>
                    </div>
                    <div class="after-text">Искусство в каждом</div>
                </div>
                <div class="item scroll-anim">
                    <div class="contfet">
                        <div class="cont-for-tab">
                            <div class="convert-img3"></div>
                        </div>
                    </div>
                    <div class="after-text">Команда профессионалов</div>
                </div>
                <div class="item scroll-anim">
                    <div class="contfet">
                        <div class="cont-for-tab">
                            <div class="convert-img4"></div>
                        </div>
                    </div>
                    <div class="after-text">Творческий подход</div>
                </div>
                <div class="item scroll-anim">
                    <div class="contfet">
                        <div class="cont-for-tab">
                            <div class="convert-img5"></div>
                        </div>
                    </div>
                    <div class="after-text">Любовь к своему делу</div>
                </div>
            </div>

            <div class="beautiful-row">
                <div class="block-inside"></div>
            </div>
            <div class="strange-text scroll-anim">
                Согласно статистическим наблюдениям общество перестает читать и все <span> лучше воспринимает визуальную иформацию.</span> <br />  <span>8 миллиардов </span> просмотров видео в день набирает платформа <span>Facebook</span> и их число продолжает расти.<br /> Уже к 2020 году <span>80% информации,</span> от общего числа, будет составлять именно <span>видео контент.</span>
            </div>
            <div class="concept-slogan scroll-anim">
                Сейчас самое время развивать свой бизнес с помощью видео, что бы быть конкурентоспособным в будущем.
            </div>
        </div>
    </div>

</section>