<section class="contacts " id="contacts">
    <div class="contacts-wrap mbox">
        <div class="contacts-align ">
            <div class="title scroll-anim">
                <h2>контакты</h2>
            </div>
            <div class="subtitle scroll-anim">
                <p>Мы ценим каждого клиента, поэтому предлагаем вам совершено бесплатную консультацию при личной встрече или по телефону. Это совершенно бесплатно и ни к чему вас не обязывает.</p>
            </div>
            <div class="logo scroll-anim"><img src="images/logoC.png" alt=""></div>
            <form action="ajax.php" name="" class="contact-form2">
                <div class="form-title">
                    <p>Заполните поля ниже и мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="form-wrap cfix">
                    <div class="form_row ">
                        <div class="form_input scroll-anim">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                        <div class="form_input scroll-anim">
                            <input type="email" name="email" required="required" value="" placeholder="E-mail">
                        </div>
                        <div class="form_input scroll-anim">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Номер телефона" class="tel-mask">
                        </div>
                    </div>
                    <div class="form_row scroll-anim">
                        <textarea name="comment" value="" required="required" placeholder="Комментарий..."></textarea>
                    </div>
                     <div class="button-row scroll-anim">
                        <button type="submit" class="contact-submit">
                            <span>Отправить</span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="container-contact scroll-anim">
                <a class="one-item">
                    <p>
                        <span class="con">
                            <img src="images/coin1.png" alt="">
                        </span>
                    </p>
                    <p><span>0176&nbsp310&nbsp92867</span></p>
                </a>
                <a class="one-item">
                    <p>
                        <span class="con">
                            <img src="images/coin2.png" alt="">
                        </span>
                    </p>
                    <p><span>Germany, 44135, г. Dortmund, Ул. Kaiserstr. 31a</span></p>
                </a>
                <a class="one-item">
                    <p>
                        <span class="con">
                            <img src="images/coin3.png" alt="">
                        </span>
                    </p>
                    <p><span>Info@cheese-production.de</span></p>
                </a>
            </div>
        </div>
    </div>
    <div class="camera2 scroll-anim"><img src="images/camera2.png" alt=""></div>

</section>