<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer-wrap">
        <div class="mbox">
            <div class="footer-text">© Cheese Studio Production.Design</div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
