<!-- HEADER -->
<header class="header">

    <div class="mbox">

        <div class="header-wrap">

            <div class="header-logo">
                <img src="images/logo.png" alt="" />
            </div>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Портфолио</a>
                    </li>
                    <li>
                        <a href="#">Наши услуги</a>
                    </li>
                    <li>
                        <a href="#">Схема работы</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>

            <div class="header-sendwich">
                <span></span>
            </div>

        </div>

    </div>

</header>
<!-- /HEADER -->

