<section class="last-work">

    <div class="mbox">

        <div class="title">Последние работы</div>
        <div class="sub-title">Наши работы расскажут о нашей квалификации лучше нас и главное, помните, что каждый <span>новый проект</span> мы делаем <span>лучше</span> предыдущего.</div>

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-item">
                    <a href="images/slider-img1.jpg" rel="gallery" class="fancybox">
                        <div class="slider-img">
                            <img src="images/slider-img1.jpg" alt="" />
                        </div>
                        <div class="slider-description">
                            <div class="slider-description-wrap">
                                <div class="slider-description-title">Корпоратив</div>
                                <div class="slider-description-text">Сьемка клипов разной сложности</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="images/slider-img2.jpg" rel="gallery" class="fancybox">
                        <div class="slider-img">
                            <img src="images/slider-img2.jpg" alt="" />
                        </div>
                        <div class="slider-description">
                            <div class="slider-description-wrap">
                                <div class="slider-description-title">Свадьба</div>
                                <div class="slider-description-text">Этот замечательный миг</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="images/slider-img3.jpg" rel="gallery" class="fancybox">
                        <div class="slider-img">
                            <img src="images/slider-img3.jpg" alt="" />
                        </div>
                        <div class="slider-description">
                            <div class="slider-description-wrap">
                                <div class="slider-description-title">Реклама</div>
                                <div class="slider-description-text">Креативные и большие идеи</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="images/slider-img1.jpg" rel="gallery" class="fancybox">
                        <div class="slider-img">
                            <img src="images/slider-img1.jpg" alt="" />
                        </div>
                        <div class="slider-description">
                            <div class="slider-description-wrap">
                                <div class="slider-description-title">Корпоратив</div>
                                <div class="slider-description-text">Сьемка клипов разной сложности</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="images/slider-img2.jpg" rel="gallery" class="fancybox">
                        <div class="slider-img">
                            <img src="images/slider-img2.jpg" alt="" />
                        </div>
                        <div class="slider-description">
                            <div class="slider-description-wrap">
                                <div class="slider-description-title">Свадьба</div>
                                <div class="slider-description-text">Этот замечательный миг</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="button-wrap">
            <a href="#" class="button">
                <span>Заказать бесплатную консультацию</span>
            </a>
        </div>

    </div>

</section>