<section class="our-clients " id="our-clients">
    <div class="clients-wrap mbox ">
        <div class="clients-align">
            <div class="title scroll-anim">
                <h2>Наши клиенты</h2>
            </div>
            <div class="subtitle">
                <p>Нас <b>выбирают.</b> С нами <b>работают.</b> Нам <b>доверяют.</b></p>
            </div>
            <div class="content">
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim" >
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>диреasda sd asd asd asd asd sad sad asd sad asdктор</span></p>
                        <p>“Cheese Studiosfafsdfdsf dsf sdf dsf dsf dsf dsf sdf sdf sdf dsf dsf sdf dsf dsfdsf dsf sdf sf  Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
                <div class="item scroll-anim">
                    <div class="img"><img src="images/client1.jpg" alt=""></div>
                    <div class="txt">
                        <p><b>Иван Иванов</b></p>
                        <p><span>директор</span></p>
                        <p>“Cheese Studio Production”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>