<section class="scheme" id="scheme">
    <div class="scheme-wrap mbox">
        <div class="scheme-align">
            <div class="title">
                <h2>Схема работы в 7 шагов</h2>
            </div>
            <div class="subtitle">
                <p>Представляем Вам <b>основные этапы </b>нашего <b>сотрудничества </b>от идеи до конечного продукта.</p>
                <p>Все <b>просто</b>, логично и <b>эффективно</b>, вам не о чем  беспокоится.</p>
            </div>
            <div class="content">
                <div class="content-wrap">
                    <div class="item">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step1.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step2.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step3.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step4.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step5.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step6.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step7.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>