<section class="scheme " id="scheme">
    <div class="scheme-wrap mbox ">
        <div class="scheme-align">
            <div class="title scroll-anim">
                <h2>Схема работы в 7 шагов</h2>
            </div>
            <div class="subtitle scroll-anim">
                <p>Представляем Вам <b>основные этапы </b>нашего <b>сотрудничества </b>от идеи до конечного продукта.</p>
                <p>Все <b>просто</b>, логично и <b>эффективно</b>, вам не о чем  беспокоится.</p>
            </div>
            <div class="content">
                <div class="content-wrap">
                    <div class="item scroll-anim">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Принимаем заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step1.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="item scroll-anim">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Связываемся с вами и обсуждаем проект</p>
                                </div>
                                <div class="img">
                                    <img src="images/step2.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>02</p>
                            </div>
                        </div>
                    </div>
                    <div class="item scroll-anim">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Пишем и согласуем сценарий</p>
                                </div>
                                <div class="img">
                                    <img src="images/step3.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>03</p>
                            </div>
                        </div>
                    </div>
                    <div class="item scroll-anim">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Рассчитываем бюджет</p>
                                </div>
                                <div class="img">
                                    <img src="images/step4.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>04</p>
                            </div>
                        </div>
                    </div>
                    <div class="item scroll-anim">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Снимаем видеоролик</p>
                                </div>
                                <div class="img">
                                    <img src="images/step5.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>05</p>
                            </div>
                        </div>
                    </div>
                    <div class="item scroll-anim">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p> Монтируем и озвучиваем проект</p>
                                </div>
                                <div class="img">
                                    <img src="images/step6.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>06</p>
                            </div>
                        </div>
                    </div>
                    <div class="item scroll-anim">
                        <div class="item-align">
                            <div class="round">
                                <div class="txt">
                                    <p>Демонстрируем и сдаем вам  готовый заказ</p>
                                </div>
                                <div class="img">
                                    <img src="images/step7.png" alt="">
                                </div>
                            </div>
                            <div class="number">
                                <p>07</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>