<section class="what-we-doing">
    <div class="triangle top"></div>
    <div class="triangle bottom"></div>

    <div class="mbox">

        <div class="title">
            <h2>Съемка профессиональных видеороликов «под ключ»</h2>
        </div>

        <div class="center-button">
            <a href="#call-popup" class="fancybox-form">
                <span>
                    <i>Узнать стоимость</i>
                </span>
                <b>Узнать стоимость</b>
            </a>
        </div>

        <div class="descript">
            <h2 class="descript-title">
                <span>Что мы делаем ?</span>
            </h2>
            <div class="descript-text">Мы <span>специалисты</span> своей сферы,<br /> <span>понимающие</span> маркетинговый потенциал <span>видеороликов</span></div>
        </div>

        <div class="what-we-doing-main">

            <div class="what-we-doing-item">

                <div class="tophide"></div>
                <div class="bothide"></div>

                <div class="what-we-doing-item-unactive">
                    <div class="img-wrap">
                        <img src="images/what-we-doing-img1.png" alt="" />
                    </div>
                    <div class="what-we-doing-title">Выставочные видео</div>
                    <div class="what-we-doing-button-wrap">
                        <div class="button">Подробнее...</div>
                    </div>
                </div>

                <div class="what-we-doing-item-active">
                    <div class="top-title">
                        <span>Выставочные видео</span>
                    </div>
                    <div class="img-wrap">
                        <div class="img-main">
                            <img src="images/what-we-doing-img1-active.jpg" alt="" />
                        </div>
                    </div>
                    <div class="bottom-text">Представит ваш продукт в нужном свете и  заинтересует</div>
                </div>

            </div>
            <div class="what-we-doing-item">

                <div class="tophide"></div>
                <div class="bothide"></div>

                <div class="what-we-doing-item-unactive">
                    <div class="img-wrap">
                        <img src="images/what-we-doing-img2.png" alt="" />
                    </div>
                    <div class="what-we-doing-title">Имидж ролики</div>
                    <div class="what-we-doing-button-wrap">
                        <div class="button">Подробнее...</div>
                    </div>
                </div>

                <div class="what-we-doing-item-active">
                    <div class="top-title">
                        <span>Имидж ролики</span>
                    </div>
                    <div class="img-wrap">
                        <div class="img-main">
                            <img src="images/what-we-doing-img2-active.jpg" alt="" />
                        </div>
                    </div>
                    <div class="bottom-text">Повысит репутацию компании и сформирует имидж</div>
                </div>

            </div>
            <div class="what-we-doing-item">

                <div class="tophide"></div>
                <div class="bothide"></div>

                <div class="what-we-doing-item-unactive">
                    <div class="img-wrap">
                        <img src="images/what-we-doing-img3.png" alt="" />
                    </div>
                    <div class="what-we-doing-title">Анимированные видео</div>
                    <div class="what-we-doing-button-wrap">
                        <div class="button">Подробнее...</div>
                    </div>
                </div>

                <div class="what-we-doing-item-active">
                    <div class="top-title">
                        <span>Анимированные видео</span>
                    </div>
                    <div class="img-wrap">
                        <div class="img-main">
                            <img src="images/what-we-doing-img3-active.jpg" alt="" />
                        </div>
                    </div>
                    <div class="bottom-text">Красиво и доступно раскроет суть вашего предложения</div>
                </div>

            </div>
            <div class="what-we-doing-item">

                <div class="tophide"></div>
                <div class="bothide"></div>

                <div class="what-we-doing-item-unactive">
                    <div class="img-wrap">
                        <img src="images/what-we-doing-img4.png" alt="" />
                    </div>
                    <div class="what-we-doing-title">Профессиональную озвучку</div>
                    <div class="what-we-doing-button-wrap">
                        <div class="button">Подробнее...</div>
                    </div>
                </div>

                <div class="what-we-doing-item-active">
                    <div class="top-title">
                        <span>Профессиональную озвучку</span>
                    </div>
                    <div class="img-wrap">
                        <div class="img-main">
                            <img src="images/what-we-doing-img4-active.jpg" alt="" />
                        </div>
                    </div>
                    <div class="bottom-text">Приятный голос за  кадром, большой плюс к удержанию внимания</div>
                </div>

            </div>
            <div class="what-we-doing-item">

                <div class="tophide"></div>
                <div class="bothide"></div>

                <div class="what-we-doing-item-unactive">
                    <div class="img-wrap">
                        <img src="images/what-we-doing-img5.png" alt="" />
                    </div>
                    <div class="what-we-doing-title">Вирусные видео</div>
                    <div class="what-we-doing-button-wrap">
                        <div class="button">Подробнее...</div>
                    </div>
                </div>

                <div class="what-we-doing-item-active">
                    <div class="top-title">
                        <span>Вирусные видео</span>
                    </div>
                    <div class="img-wrap">
                        <div class="img-main">
                            <img src="images/what-we-doing-img5-active.jpg" alt="" />
                        </div>
                    </div>
                    <div class="bottom-text">Будет быстро распространятся, скрыто вас рекламируя</div>
                </div>

            </div>
            <div class="what-we-doing-item">

                <div class="tophide"></div>
                <div class="bothide"></div>

                <div class="what-we-doing-item-unactive">
                    <div class="img-wrap">
                        <img src="images/what-we-doing-img6.png" alt="" />
                    </div>
                    <div class="what-we-doing-title">Съемку промо материалов</div>
                    <div class="what-we-doing-button-wrap">
                        <div class="button">Подробнее...</div>
                    </div>
                </div>

                <div class="what-we-doing-item-active">
                    <div class="top-title">
                        <span>Съемку промо материалов</span>
                    </div>
                    <div class="img-wrap">
                        <div class="img-main">
                            <img src="images/what-we-doing-img6-active.jpg" alt="" />
                        </div>
                    </div>
                    <div class="bottom-text">Способствует продвижению вашего бренда</div>
                </div>

            </div>

        </div>

    </div>
</section>