@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

    /* last-work */

        .last-work{
            .slider-wrap{padding: 0 80px;
                .slick-next, .slick-prev{width: 56px;height: 86px;}
            }
        }

    /* last-work */

}
@media screen and (max-width: 992px){

    /* header */

        .header{
            .header-nav{
                ul{
                    li{
                        a{padding:0 5px 5px 5px;margin-bottom: 5px;}
                    }
                }
            }
        }

    /* /header */

    /* last-work */

        .last-work{
            .slider-wrap{padding: 0 60px;
                .slider-item{padding: 0 18px;
                    a{
                        .slider-description-title{font-size: 16px;}
                        .slider-description-text{font-size: 14px;}
                    }
                }
                .slick-prev{right:calc(100% + 5px);}
                .slick-next{left:calc(100% + 5px);}
            }
        }

    /* last-work */

}
@media screen and (max-width: 767px){

    /* last-work */

        .last-work{

            .sub-title{font-size: 18px;line-height: 22px;}

            .slider-wrap{
                .slider-item{
                    a{background-color:#8e5f39;border-color:#8e5f39;box-shadow:0 0 17px 0 rgba(142, 95, 57, .89);
                        .slider-description{background-color: #8e5f39;}
                    }
                }
            }
        }

    /* /last-work */

}
@media screen and (max-width: 666px){

    /* header */

        .header{
            .header-wrap{display: block;}
            .header-logo{position: relative;z-index: 2;}
            .header-nav{position: absolute;left: -20px;right:-20px;top: calc(100% + 22px);width: auto;padding-top: 20px;padding-bottom:10px;z-index: 1;overflow:hidden;background-color: rgba(0,0,0, .85);display: none;
                ul{
                    li{display: block;text-align: center;margin-bottom: 10px;position:relative;left:0;transition:left 300ms ease;
                        &:nth-child(odd){left: 100%;}
                        &:nth-child(even){left: -100%;}
                        &.show{left: 0;}
                    }
                }
            }
            .header-sendwich{display: block;z-index: 2;}
        }

    /* /header */

    /* top-block */

        .top-block{
            .video-img{max-width: calc(100% + 225px);}
        }

    /* /top-block */

    /* last-work */

        .last-work{
            .title{font-size: 52px;}
            .slider-wrap{padding: 0;}
        }

    /* /last-work */

}
@media screen and (max-width: 479px){

    /* last-work */

        .last-work{
            .title{font-size: 42px;}
            .sub-title{padding: 15px 15px;font-size: 16px;}
            .slider-wrap{
                .slider-item{padding: 0 15px;}
            }
            .button-wrap{
                .button{font-size: 12px;height: 75px;line-height: 75px;}
            }
        }

    /* /last-work */

}
@media screen and (max-width: 320px){

}